# Java / Maven
target/
*.class
*.jar
*.war
*.ear
dependency-reduced-pom.xml
buildNumber.properties
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.releaseBackup

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Logs e arquivos temporários
*.log
*.tmp
*.bak
*.swp
logs/
spring.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Eclipse / STS
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build de subpastas (caso tenha múltiplos módulos)
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Arquivos de ambiente e segurança
.env
*.env

# Sistema operacional
.DS_Store
Thumbs.db
